# Database Service
EXPO_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_API_URL_HERE
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE

# Backend Gateway
EXPO_PUBLIC_API_BASE_URL=https://api.yoursite.com/api/v1
EXPO_PUBLIC_LARAVEL_API_KEY=YOUR_SECRET_API_GATEWAY_KEY

# Third Party Libraries & Trackers
EXPO_PUBLIC_SEGMENT_WRITE_KEY=YOUR_SEGMENT_TRACKER_SK_KEY
